/*Normaly*/
*{padding: 0;margin: 0;}html,body{height: 100%;}
/*
::-webkit-scrollbar{width:8px;background:#FFF} ::-webkit-scrollbar-thumb{background-color:#575757;border-radius:3px}
::selection {background:red;color:cyan;}::-moz-selection {background:red;color:cyan;}::-webkit-selection {background:red;color:cyan;}
*/
.primary-color1{background: #2ab392 !important;}
.primary-color2{background: #d84d74 !important;}
.primary-color3{background: #ff6b5b !important;}
.primary-color4{background: #2e2e2e !important;}
.text-primary-color1{color: #2ab392 !important;}
.text-primary-color2{color: #d84d74 !important;}
.text-primary-color3{color: #ff6b5b !important;}
.text-primary-color4{color: #2e2e2e !important;}
/*======
FONT FACE
=========*/
@font-face {
    font-family : "HammersmithOne";
    src : url('../font/Hammersmith_One/HammersmithOne-Regular.ttf');
}
@font-face {
    font-family : "Francoisone";
    src : url('../font/Francois_One/FrancoisOne-Regular.ttf');
}
@font-face {
    font-family : "Kanitlight";
    src : url('../font/Kanit/Kanit-Light.ttf');
}

@font-face {
    font-family : "Kanitmedium";
    src : url('../font/Kanit/Kanit-Medium.ttf');
}
@font-face {
    font-family : "Kanitregular";
    src : url('../font/Kanit/Kanit-Regular.ttf');
}
/*======
HEADER*/
#header-wrapper{max-height:100%;padding: 2em 0px 2em 0px;}#header-wrapper img{width: 100%;height: 100%;}
#header-left img{width: 100%;max-width: 210px;max-height: 95px;}
#header-right img{width:100%;max-width: 728px;max-height: 90px;}
/*======
NAVBAR*/
@media only screen and (min-width: 993px){
    nav{margin-top: -2.5em;}
}
.nav {
    z-index: 100;
    width: auto;
    height: 0px;
    float: left;
    height: 60px;
    margin: auto;

}
.nav ul {
    list-style: none;
    display: inline-table;
    position: relative;
    padding: 0 10px;
    background: transparent;
    z-index: 100;
}
.nav ul li:hover > ul {
    display: block;
    transition: all 2s ease;
    
}
.nav ul:after {
    content: "";
    clear: both;
    display: block;
    transition: all 3s;
    
}
.nav ul li {
    float: left;
    
}
.nav ul li a{
    padding: 0px 10px;
    text-decoration: 700;
    display: block;
    cursor: pointer;
    font-family: "HammersmithOne";
}
.nav ul li a:hover {
    color:#2ab392 !important;background: transparent;
    
}
.nav ul ul {
    background: #fff;
    border: 2px solid #ddd;
    
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    display: none;
    
}
.nav ul ul li {
    float: none;
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
    
}
.nav ul ul li a {
    padding: 0px 10px;
    text-align: left;
    font-size: 13px;
    color:#333;
    font-weight: none !important;
    width: 200px;
    
}
.nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    
}
/*NAVBAR LINE*/
.nav-wrapper,.nav-wrapper li a{color: #000;}
/*==== SLIDENAV =====*/
.header-sidenav{background-color: rgba(0,0,0,.05);padding: 15px 0px;}
.header-sidenav:hover a{background-color: transparent;}
ul.navbar-sidenav li{border-top: 1px solid #ddd;}
ul.navbar-sidenav li a:hover{color: #2ab392;}
/* SEARCH NAVBAR*/
.btn-search{margin-left: 20em;}
.btn-search:hover{background-color: transparent;}
.form-search{color:#333;padding: 9px;background: #fff;border: 1px solid #ddd;width: 30%;display: none;position: absolute;right: 30px;z-index: 31;}
.form-group{width: 90%;margin: 0px 0px -15px 0px;}
/*======
BOX DIV=====*/
#boxdiv{width: 100%;height: auto;margin-top: 2em;}
#boxdiv1{height: 440px;}
#boxdiv2{height: 240px;}
@media only screen and (max-width: 992px){
    #boxdiv3{height: 240px;}
    #boxdiv4{height: 200px;}
}
@media only screen and (min-width: 993px){
    #boxdiv3{height: 200px;width: 20.8%;}
    #boxdiv4{height: 200px;width: 20.8%;}
}
.boxdiv-item{width: 20%; position: relative;overflow: hidden;}
.boxdiv-item img{width: 100%;height: 100%;position: absolute;transform: scale(1);transition: all 1s ease-in-out;}
.item-large:hover img{transform: scale(1.3);}
.item-medium:hover img{transform: scale(1.2);}
.item-small:hover img{width: 110%;height: 110%;}
/* COL-LG */
@media only screen and (min-width:1200px){
    .item-large{width: 104.5%;height: 102%; right: 14.9px;}
    .item-large .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 66.5% !important; margin:0;}

    .item-medium{width: 105%;height: 100%; right: 7px;}
    .item-medium .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 50% !important; margin:0;}

    .item-small{width: 111%;height: 100%; right: 8px;padding: 7px 0px 0px 0px;}
    .item-small .egd{;width: 100%;height:;z-index: 2;position: relative;padding-bottom: 86% !important; margin:0;}
}
/* COL-MD */
@media only screen and (min-width:993px) and (max-width:1199px){
    .item-large{width: 104.5%;height: 102%; right: 14.9px;}
    .item-large .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 81% !important; margin:0;}

    .item-medium{width: 105%;height: 100%; right: 7px;}
    .item-medium .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 62% !important; margin:0;}

    .item-small{width: 111%;height: 100%; right: 8px;padding: 7px 0px 0px 0px;}
    .item-small .egd{;width: 100%;height:;z-index: 2;position: relative;padding-bottom: 106% !important; margin:0;}
}
/* COL-SM */
@media only screen and (min-width: 768px) and (max-width:992px){
    .item-large{width: 106%;height: 100%; right: 14.9px;}
    .item-large .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 58.3% !important; margin:0;}

    .item-medium{width: 110%;height: 100%; right: 14px;padding: 7px 0px 0px 0px;}
    .item-medium .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 64% !important; margin:0;}

    .item-small{width: 110%;height: 100%; right:6px;padding: 7px 0px 0px 0px;}
    .item-small .egd{;width: 100%;height:;z-index: 2;position: relative;padding-bottom: 64% !important; margin:0;}
}
/* COL-XS */
@media only screen and (min-width: 554px) and (max-width:767px){
    .item-large{width: 106%;height: 100%; right: 14.9px;}
    .item-large .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 81% !important;padding-top: 12px;  margin:0;}

    .item-medium{width: 110%;height: 100%; right: 14px;padding: 7px 0px 0px 0px;}
    .item-medium .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 91% !important;padding-top: 6px; margin:0;}

    .item-small{width: 110%;height: 100%; right:6px;padding: 7px 0px 0px 0px;}
    .item-small .egd{;width: 100%;height:;z-index: 2;position: relative;padding-bottom: 91% !important;padding-top: 6px;  margin:0;}
}
/* COL-UXS */
@media only screen and (min-width:553px) and (max-width:553px){
    .item-large{width: 106%;height: 100%; right: 14.9px;}
    .item-large .egd{width: 100%;height: auto;z-index: 2;position: relative;padding-bottom: 81% !important;  margin:0;}

    .item-medium{width: 110%;height: 100%; right: 14px;padding: 7px 0px 0px 0px;}
    .item-medium .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 92% !important;padding-top: 6px; margin:0;}

    .item-small{width: 110%;height: 100%; right:6px;padding: 7px 0px 0px 0px;}
    .item-small .egd{;width: 100%;height:;z-index: 2;position: relative;padding-bottom: 92% !important;padding-top: 6px;  margin:0;}
}
/* COL-UXS */
@media only screen and (min-width:547px) and (max-width:554px){
    .item-large{width: 106%;height: 100%; right: 14.9px;}
    .item-large .egd{width: 100%;height: auto;z-index: 2;position: relative;padding-bottom: 85% !important;padding-top: 0%;  margin:0;}

    .item-medium{width: 110%;height: 100%; right: 14px;padding: 7px 0px 0px 0px;}
    .item-medium .egd{width: 100%;height:;z-index: 2;position: relative;padding-bottom: 92% !important;padding-top: 6px; margin:0;}

    .item-small{width: 110%;height: 100%; right:6px;padding: 7px 0px 0px 0px;}
    .item-small .egd{;width: 100%;height:;z-index: 2;position: relative;padding-bottom: 92% !important;padding-top: 6px;  margin:0;}
}
/* COL-UXS */
@media only screen and (max-width:546px){
    .item-large{width: 106%;height: 100%; right: 14.9px;}
    .item-large img{filter: brightness(60%)}
    .item-large .egd{display: none;}

    .item-medium{width: 110%;height: 100%; right: 14px;padding: 7px 0px 0px 0px;}
    .item-medium img{filter: brightness(60%)}
    .item-medium .egd{display: none;}

    .item-small{width: 110%;height: 100%; right:6px;padding: 7px 0px 0px 0px;}
    .item-small img{filter: brightness(60%)}
    .item-small .egd{display: none;}
}
/*=====
CONTEN BOXDIV*/
.boxdiv-caption {position: absolute;z-index: 3;top: auto;bottom: 0px;padding: 10px;}
.boxdiv-caption h1{text-align: left;text-overflow: ellipsis;overflow: hidden;white-space: ;max-height: 56px;max-width:600px;}
.boxdiv-caption h1:after{content: "...";padding-left: 2px;}
.item-large .boxdiv-caption span.label{color: #fff;font-family:"Francoisone"; background: #2ab392;padding: 5px 10px;}
.item-large .boxdiv-caption span.date{color: grey;}
.item-large .boxdiv-caption h1{color:#fff;font-size: 25px;}

.item-medium .boxdiv-caption span.label{color: #fff; background: #2ab392;padding: 4px 9px;position: relative;top: 20px;opacity: 0;transition: all 0.3s ease;}
.item-medium:hover span.label{opacity: 1;transition: all 1s ease-in-out;}
.item-medium .boxdiv-caption span.date{color: grey;}
.item-medium .boxdiv-caption h1{color:#fff;font-size: 20px;}

@media only screen and (max-width: 992px){
    .item-small .boxdiv-caption span.label{color: #fff;font-family:"comic-sans-ms"; background: #2ab392;padding: 4px 9px;position: relative;top: 20px;opacity: 0;transition: all 1s ease-in-out;}
    .item-small .boxdiv-caption span.date{color: grey;}
    .item-small .boxdiv-caption h1{color:#fff;font-size: 20px;}
}
@media only screen and (min-width: 993px){
    .item-small .boxdiv-caption span.label{color: #fff;font-family:"Francoisone"; background: #2ab392;padding: 4px 9px;position: relative;top: 30px;opacity: 0;transition: all 1s ease-in-out;}
    .item-small .boxdiv-caption span.date{color: grey;position: relative;top: 10px;}
    .item-small .boxdiv-caption h1{color:#fff;font-size: 15px;;position: relative;top: 20px;}
}
.item-small:hover span.label{opacity: 1;transition: all 0.3s ease;}
/*======
MAIN WRAPPER*/
#main-wrapper{padding: 0px;margin-top: 0px;}
#left-slide{margin-top: 0;}
@media only screen and (min-width: 991px){
    #left-slide{border-right: 2px solid #ddd;}
}
#right-slide{margin-top: 25px;}

.content{margin: 0;padding: 10px;}
.pembuka h1 {padding: 0;margin: 0;}
.content-img {width: auto;height: 250px;}
.content-img > a img{width: 100%;height: 100%;}
.content-img > a span.content-label {color: #fff;background-color: #d84d74; padding: 3px 20px;font-size: 13px; position: absolute;top: 17px;left: 17px;}

.content-post {width: auto;height: auto;margin-top: -20px;}
.content-post > a h2 {color:#333;font-size: 20px;font-weight: 700;text-align: left;overflow: hidden;text-overflow:ellipsis;max-width: 90%;max-height: 50px;}
.content-post > span {color: grey;font-size: 13px;text-align: left;word-spacing: 5px;margin-top: -20px;position: absolute;}
.content-post > p.b {color:grey;font-size: 14px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 90%;}
.content-post > p.a {color:grey;font-size: 14px;text-align: left;overflow: hidden;text-overflow:ellipsis;max-width: 90%;max-height: 40px;}

.co-thumb {margin: 5px 0px;padding:0px;}
.co-thumb-img {padding: 0px;}
@media only screen and (max-width: 991px){
    .co-thumb-img {padding: 0px;max-width: 120px;float: left;}
    .co-thumb-post > a h2{position: relative;top:0px;left: 10px;}
}
@media only screen and (max-width:766px){
    .co-thumb {margin: 7px;padding:0px;border-bottom: 1px solid #ddd;}
}
.co-thumb-img > a img{width: 100%;height: 100%;padding: 0px;}

.co-thumb-post {padding: 0px;}
.co-thumb-post > a h2{color:#222;font-size: 14px;font-weight: 700;margin-top: 5px;margin-left: 10px;text-align: left;overflow: hidden;text-overflow:ellipsis;max-width: 90%;max-height: 30px;}
.co-thumb-post > span{color:grey;font-size: 13px;font-weight: 700;text-align: left;position: relative;top:0px;left: 10px;}

.newsco {padding: 10px 0;margin: 0px 0;border-bottom: 1px solid #ddd;}

.newsco-img {padding: 6px}
.newsco-img img{width: 100%;max-height:auto;padding: 0px;}
.newsco-img > span {color: #fff;background-color: #2ab392; padding: 2px 20px;font-size: 12px; position: absolute;top: 13px;left: 13px;}

.newsco-post {padding: 0;margin: 0;}
.newsco-post > a h2 {color:#333;font-size: 20px;font-weight: 700;text-align: left;margin-top: 17px;overflow: hidden;text-overflow:ellipsis;max-width: 90%;max-height: 50px;}
.newsco-post > span {color: grey;font-size: 13px;text-align: left;word-spacing: 5px;margin-top: -17px;position: absolute;}
.newsco-post > p.b {color:grey;font-size: 14px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;max-width: 90%;}
.newsco-post > p.a {color:grey;font-size: 14px;text-align: left;overflow: hidden;text-overflow:ellipsis;max-width: 90%;max-height: 40px;margin-top: 3em;}

/*=====
SLIDE RIGH*/
.widget{padding: 10px;margin: 0;}
.widget .row{padding: 0px;margin: 0;border-bottom: 1px solid #ddd;margin: 7px 0px;}
.widget .widget-header{color: #fff;background: #000;padding: 7px 10px;font-size: 15px;font-weight: 300;margin-bottom: 5px;}
.widget .widget-img{width:40%;float: left;height: auto;max-height: 100px}
@media only screen and (max-width: 991px){
    .widget .widget-img{width:25%;float: left;height: 100px;max-height: 100px}
    .widget .row{padding: 7px 0px;}
}
.widget .widget-img img{width: 100%;height: 100%;}
.widget .widget-caption {width: 59%; float: left;margin: -19px 0px 0px 0px;padding: 0px 6px;}
.widget .widget-caption h2 {color:#333;font-size: 15px;overflow: hidden;text-overflow:ellipsis;max-width: 90%;max-height: 40px;}
.widget .widget-caption span {color: grey;font-size: 12px; position: relative;top: -17px;left: 0px;}

/*========
FOOTER
==========*/
.logo-footer {}
.logo-footer img{width: 100%;}
section.footer1 .white-text {font-weight: 300;}
section.footer1 p strong{color: grey;}

/* =========================================================================== */

/*========
Category Page!
==========*/
#browser-search{background-color: transparent;height: 40px;border-left: 5px solid #2ab392;margin: 10px 0px;}
#browser-search > h2 {font-size: 1.3em;color: #333;padding: 10px 5px;font-weight: 300;width: ;}
